# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages
- Commonly Used Libraries
- Data Science Tools
- Arithmetic Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Apache Spark
2. R Libraries
3. Scala Libraries
4. Deep Learning Libraries

| Data Science Tools |
| ---------------- |
| Model Asset eXchange |
| Data Asset eXchnage |
| RedHat |
| OpenShift |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Will Hogan